<h1>list of the projects here</h1>    

<%= link_to "Newest", :sort => "created_at desc"%>
<%= link_to "Oldest", :sort => "created_at asc"%>
<--most liked>




<h2><%= link_to "New Project", new_project_path %><h2>

<% @projects.each do |project| %>
  <div class="record">
    <p><%= project.title %></p>
    <p><%= project.description %></p>
    <p><%= link_to "Edit", edit_project_path(project) %></p>
    <p><%= button_to "Destroy", project, method: :delete %></p>
  </div>
<% end %>

<div  class="pagination_interface"><%= paginate @projects %></div>